.sun-icon:hover {
  background-color: #a75497b3 !important;
  opacity: 0.8;
}

body {
  background-color: rgb(251, 230, 254) !important;
}
.star-rating::after {
  content: "/5";
  color: rgb(138, 138, 138);
  font-size: 0.8em; /* Adjust the size as needed */
  margin-left: 4px; /* Adds a small space between the rating and the "/5" */
}

*:focus {
  box-shadow: none !important;
}

#root {
  min-width: fit-content;
}
